<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= @garden.banner_url  %> );">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="cards">
  <% @garden.plants.each do |plant| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
      <%= plant.name %>
      <%= link_to "+", plant_path(plant), data: { confirm: "are you sure?" }, method: :delete, class: "card-remove-link" %>
    </div>
  <% end %>
</div>
